name: CI
on:
  workflow_dispatch:
  schedule:
    - cron: '22 4 * * *'
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k8s:
          - v1.30.0
          - v1.29.0
          - v1.28.0
          - v1.27.0
          - v1.26.0
          - v1.25.3
          - v1.24.7
          - v1.23.13
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 
        with:
          fetch-depth: 0
      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@2cd8ada7be24dd8f8446296d86376de928fe2df5 
        with:
          node_image: kindest/node:${{ matrix.k8s }}
          version: v0.20.0
      - name: Install Skaffold
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && \
          sudo install skaffold /usr/local/bin/
      - name: Test
        env:
          CONTEXT_NAME: chart-testing
        run: make test logs
      - name: Upload Logs
        uses: actions/upload-artifact@v6
        with:
          name: kind-logs-${{ matrix.k8s }}
          path: /tmp/kind-logs
  build-image:
    name: Image
    permissions:
      packages: write
      security-events: write
      id-token: write
      contents: read
    needs:
      - test
    uses: curium-rocks/flows/.github/workflows/oci-build-image.yml@main
    with:
      codeql_enabled: true
      image_name: k8s-wireguard-mgr
      registry: 'ghcr.io/bryopsida'
      push_in_pr: true
      platforms: 'linux/amd64,linux/arm64,linux/riscv64'
